<div class="container-fluid">
    <div class="row">
        <div class="header-left cus">
            <div class="dashboard_bar">
                Getting Started
            </div>
        </div>
        <div class="col-xl-6 col-xxl-12">
            <div class="row">
                <div class="col-sm-4">
                    <div class="card avtivity-card">
                        <div class="card-body">
                            <div class="media align-items-center">
                                <span class="activity-icon bgl-secondary  mr-md-4 mr-3">
                                     <i _ngcontent-gyq-c52="" class="flaticon-381-controls-3"></i>
                                </span>
                                <div class="media-body">
                                    <span class="title text-black font-w600">Basic Steup</span>
                                    <p class="fs-14 mb-2"> is simply dummy text of the printing and typesetting industry. to make a type specimen book.</p>
                                </div>
                            </div>
                            <div class="progress" style="height:5px;">
                                <div class="progress-bar bg-secondary" style="width: 82%; height:5px;" role="progressbar">
                                    <span class="sr-only">42% Complete</span>
                                </div>
                            </div>
                        </div>
                        <div class="effect bg-secondary" style="top: 263px; left: 128.5px;"></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card avtivity-card">
                        <div class="card-body">
                            <div class="media align-items-center">
                                <span class="activity-icon bgl-secondary  mr-md-4 mr-3">
                                     <i _ngcontent-gyq-c52="" class="flaticon-381-controls-3"></i>
                                </span>
                                <div class="media-body">
                                    <span class="title text-black font-w600">Basic Steup</span>
                                    <p class="fs-14 mb-2"> is simply dummy text of the printing and typesetting industry. to make a type specimen book.</p>
                                </div>
                            </div>
                            <div class="progress" style="height:5px;">
                                <div class="progress-bar bg-secondary" style="width: 82%; height:5px;" role="progressbar">
                                    <span class="sr-only">42% Complete</span>
                                </div>
                            </div>
                        </div>
                        <div class="effect bg-secondary" style="top: 263px; left: 128.5px;"></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card avtivity-card">
                        <div class="card-body">
                            <div class="media align-items-center">
                                <span class="activity-icon bgl-secondary  mr-md-4 mr-3">
                                     <i _ngcontent-gyq-c52="" class="flaticon-381-controls-3"></i>
                                </span>
                                <div class="media-body">
                                    <span class="title text-black font-w600">Basic Steup</span>
                                    <p class="fs-14 mb-2"> is simply dummy text of the printing and typesetting industry. to make a type specimen book.</p>
                                </div>
                            </div>
                            <div class="progress" style="height:5px;">
                                <div class="progress-bar bg-secondary" style="width: 82%; height:5px;" role="progressbar">
                                    <span class="sr-only">42% Complete</span>
                                </div>
                            </div>
                        </div>
                        <div class="effect bg-secondary" style="top: 263px; left: 128.5px;"></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card avtivity-card">
                        <div class="card-body">
                            <div class="media align-items-center">
                                <span class="activity-icon bgl-secondary  mr-md-4 mr-3">
                                     <i _ngcontent-gyq-c52="" class="flaticon-381-controls-3"></i>
                                </span>
                                <div class="media-body">
                                    <span class="title text-black font-w600">Basic Steup</span>
                                    <p class="fs-14 mb-2"> is simply dummy text of the printing and typesetting industry. to make a type specimen book.</p>
                                </div>
                            </div>
                            <div class="progress" style="height:5px;">
                                <div class="progress-bar bg-secondary" style="width: 82%; height:5px;" role="progressbar">
                                    <span class="sr-only">42% Complete</span>
                                </div>
                            </div>
                        </div>
                        <div class="effect bg-secondary" style="top: 263px; left: 128.5px;"></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card avtivity-card">
                        <div class="card-body">
                            <div class="media align-items-center">
                                <span class="activity-icon bgl-secondary  mr-md-4 mr-3">
                                     <i _ngcontent-gyq-c52="" class="flaticon-381-controls-3"></i>
                                </span>
                                <div class="media-body">
                                    <span class="title text-black font-w600">Basic Steup</span>
                                    <p class="fs-14 mb-2"> is simply dummy text of the printing and typesetting industry. to make a type specimen book.</p>
                                </div>
                            </div>
                            <div class="progress" style="height:5px;">
                                <div class="progress-bar bg-secondary" style="width: 82%; height:5px;" role="progressbar">
                                    <span class="sr-only">42% Complete</span>
                                </div>
                            </div>
                        </div>
                        <div class="effect bg-secondary" style="top: 263px; left: 128.5px;"></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card avtivity-card">
                        <div class="card-body">
                            <div class="media align-items-center">
                                <span class="activity-icon bgl-secondary  mr-md-4 mr-3">
                                     <i _ngcontent-gyq-c52="" class="flaticon-381-controls-3"></i>
                                </span>
                                <div class="media-body">
                                    <span class="title text-black font-w600">Basic Steup</span>
                                    <p class="fs-14 mb-2"> is simply dummy text of the printing and typesetting industry. to make a type specimen book.</p>
                                </div>
                            </div>
                            <div class="progress" style="height:5px;">
                                <div class="progress-bar bg-secondary" style="width: 82%; height:5px;" role="progressbar">
                                    <span class="sr-only">42% Complete</span>
                                </div>
                            </div>
                        </div>
                        <div class="effect bg-secondary" style="top: 263px; left: 128.5px;"></div>
                    </div>
                </div>
            </div>
       </div>
       <div class="col-xl-6 col-xxl-12">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-xl-12">
                    <div class="card transparent-card">
                        <div class="card-header d-block">
                            <h4 class="card-title text-center">Frequently asked question </h4>
                            <p class="m-0 subtitle text-center">Find Quicke answer to frequent pre-sale question asked by customer</p>
                        </div>
                        <div class="card-body">
                            <div id="accordion-ten" class="accordion accordion-header-shadow accordion-rounded">
                                <div class="accordion__item">
                                    <div class="accordion__header collapsed accordion__header--primary" data-toggle="collapse" data-target="#header-shadow_collapseOne" aria-expanded="false">
                                        <span class="accordion__header--icon"></span>
                                        <span class="accordion__header--text">Accordion Header One</span>
                                        <span class="accordion__header--indicator"></span>
                                    </div>
                                    <div id="header-shadow_collapseOne" class="accordion__body collapse" data-parent="#accordion-ten" style="">
                                        <div class="accordion__body--text">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion__item">
                                    <div class="accordion__header accordion__header--info collapsed" data-toggle="collapse" data-target="#header-shadow_collapseTwo" aria-expanded="false">
                                        <span class="accordion__header--icon"></span>
                                        <span class="accordion__header--text">Accordion Header Two</span>
                                        <span class="accordion__header--indicator"></span>
                                    </div>
                                    <div id="header-shadow_collapseTwo" class="accordion__body collapse" data-parent="#accordion-ten" style="">
                                        <div class="accordion__body--text">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion__item">
                                    <div class="accordion__header collapsed accordion__header--success" data-toggle="collapse" data-target="#header-shadow_collapseThree">
                                        <span class="accordion__header--icon"></span>
                                        <span class="accordion__header--text">Accordion Header Three</span>
                                        <span class="accordion__header--indicator"></span>
                                    </div>
                                    <div id="header-shadow_collapseThree" class="collapse accordion__body" data-parent="#accordion-ten">
                                        <div class="accordion__body--text">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
   </div>
    </div>
</div>
