img.photo1{
    width: 39px;
    height: 39px;
    object-fit: cover;
    position: relative;
    left: 49px;
    top: 0.5rem;
    border-radius: 50%;
    margin-right: 10px;
}
.rb1{
    border-left:1px solid #dad3d3 ;
    border-right: 1px solid #dad3d3;
}

.smiley-icons {
    margin: 0px 34px;
    position: relative;
    left: -51px;
}
.mt-0{
    position: relative;
    margin: 29px;
    left: 20px;
    top: 18px;
}
i.text-warning.fa.fa-star {
    padding-left: 10px;
}
li.media.medis-2 {
    border: 1px solid #00000012;
    border-radius: 12px;
    padding: 32px 20px;
    margin: 24px 0px;
    box-shadow: 4px 12px 23px 0px rgb(160 44 250 / 7%);
}
p.mb-0.ipsum-paras {
    font-size: 14px;
    text-align: left;
    min-height: 50px;
    overflow: ellipsis !important;
    
    color: #00000052;
}
i.fa.fa-smile-o {
    color: #1bc6a3;
    font-size: 23px;
    padding-left: 10px;
}
i.fa.fa-comment {
    color: #1bc6a3;
    padding-right: 10px;
}
h6.small-heads {
    color: #00000052;
    font-size: 14px;
    font-weight: bold;
}
.review-box {
    background: white;
    padding: 30px 30px;
}

.review-1{
    text-align: center;
    position: relative;
    left: -48px;
}

span.sort {
    margin-left: 62px;
}


span.float-right.days-times {
        font-size: 12px;
    position: relative;
    top: 11px;
    left: 33px;
}

.btn-icon-left {
    background: #fff;
    border-radius: 10rem;
    display: inline-block;
    float: left;
    position: relative;
    left: 9px;
    box-shadow: 5px 12px 23px 0px rgb(0 0 0 / 5%) !important;

}


button.btn.btn-rounded.btn-warning {
    background: white !important;
    box-shadow: 5px 12px 23px 0px rgb(0 0 0 / 5%) !important;
}
button.btn.btn-rounded.btn-warning {
    color: black !important;
    padding: 10px 9px;
    position: relative;
    left: -0.3rem;
    font-size: 12px;
}

h6.happys {
    margin: 16px 9px;
    font-size: 14px;
}
ul.frndses {
    display: flex;
    position: relative;
    bottom: 0.5rem;
    padding: 6px;
}
ul.frndses1 {
    display: flex;
    margin: 10px 0px;
}
li.frnds-1 {
    background: aliceblue;
    font-size: 14px;
    padding: 0px 15px;
    margin-right: 9px;
    border-radius: 5px;
}


span.export-btn  {
    float: right;
    position: relative;
    left: -2rem;
}


img.lovesimg {
    width: 4%;
    float: right;
    position: relative;
    right: -118px;
    top: 18px;
}


.desf {
    text-align: right;
    width: 89%;
    padding: 10px 24px;
}

input.ng-untouched.ng-pristine.ng-valid {
    border: 1px solid #00000026;
    color: #0000009e;

}
input.ng-pristine.ng-valid.ng-touched{
    border: 1px solid #00000026;
    color: #0000009e;
    font-size: 13px;
}
label.dating {
    font-size: 16px;
    padding-right: 10px;
}

button.btn.btn-primary {
    padding: 10px 33px;
    margin-left: 20px;
    font-size: 12px;
    background: #081d67;
    border: #081d67;
}

.search {
    /* padding: 10px 0px; */
    /* width: 180px; */
    border-radius: 8px;
    border-color: #d4cece;
    padding: 0.5rem 1rem;
}
.search_1{
    border: 1px solid #d4cece !important;
    padding: 0.5rem 1rem !important;
    border-radius: 8px !important;

}

input#inputEmail4 {
    border-radius: 8px;
    border-color: #b7b7b729;
    height: 37px;
    box-shadow: none;
    padding: 10px;
    margin-right: 8px;
}

.button-shape{
    background: #597aff !important;
    border-radius: 8px !important;
}