<div class="container-fluid">
    <div class="row">
        <div class="col-xl-5">	
            <div class="row">	
                <div class="col-xl-12">
                    <div class="card flex-xl-column flex-md-row flex-column">
                        <div class="card-body border-bottom pb-4 p-2 event-calender">
                            <input type='text' class="form-control d-none" id='datetimepicker1' />
                        </div>
                        <div class="card-body">
                          <div class="row">
                            <div class="col-md-6">
                             <div class="row">
                              <div class="col-md-5">
                                <span class="spn-time"><h6 class="times1">Timezone</h6></span>
                              </div>
                              <div class="col-md-3">
                                <button class="btn_one">(Default System)</button>
                              </div>
                             </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                 <div class="col-md-5">
                                   <span class="spn-time"><h6 class="times">Use current timezone</h6></span>
                                 </div>
                                 <div class="col-md-1">
                                    <label class="switch">
                                        <input type="checkbox" checked="">
                                        <span class="slider round"></span>
                                      </label>
                                 </div>
                              
                                </div>
                               </div>
                          </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="ddddd">
                                        <span class="mr-3">09:00 am</span>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="sp">
                                        <span class="spanes3"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="ddddd">
                                        <span class="mr-3">09:10 am</span>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="sp">
                                        <span class="spanes3"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="ddddd">
                                        <span class="mr-3">09:20 am</span>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="sp">
                                        <span class="spanes3"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="ddddd">
                                        <span class="mr-3">09:30 am</span>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="sp">
                                        <span class="spanes3"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="ddddd">
                                        <span class="mr-3">09:50 am</span>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="sp">
                                        <span class="spanes3"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="ddddd">
                                        <span class="mr-3">10:00 am</span>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="sp">
                                        <span class="spanes3"></span>
                                    </div>
                                </div>
                            </div>
                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
       <div class="col-xl-7">
          <div class="card cards-boxes">
             <div class="card-body p-4">
                <h4 class="card-intro-title">Appointments</h4>
                <!--<div class="btns">
                   <button type="button" class="btn btn-rounded btn-primary up-btns">Upcoming</button>
                   <button type="button" class="btn btn-rounded btn-light">Past</button>
                </div>-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="btns">
                            <button type="button" class="btn btn-rounded btn-primary up-btns">Upcoming</button>
                            <button type="button" class="btn btn-rounded btn-light">Past</button>
                         </div>
                    </div>
                    <div class="col-md-6">
                        <div class="chrvn-1">
                            <div class="chvrn">
                                <a >
                                  <span class="left">
                                    <i class="fa fa-chevron-left"></i>
                                  </span>
                                </a>
                              </div>
                              <div class="chvrn">
                                <a >
                                  <span class="right">
                                    <i class="fa fa-chevron-right"></i>
                                  </span>
                                </a>
                              </div>
                        </div>
                       
                    </div>
                </div>
                <div class="bootstrap-carousel">
                   <div class="carousel slide" data-ride="carousel">
                      <div class="carousel-inner">
                         <div class="carousel-item active">
                            <div class="row">
                               <div class="col-md-6">
                                  <div class="card cards-3">
                                     <div class="media">
                                        <img class="mr-3 img-fluid " width="60" src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500" alt="" class="photo1">
                                        <div class="media-body">
                                           <h5 class="mt-0">Dr.Anthony wagner</h5>
                                           <p class="mb-0 parsa">Cras sit ame</p>
                                           <p class="grnds"><i class="fa fa-map-marker" aria-hidden="true"></i>Grand Medical Centre<br>
                                              <span class="spanes">Grand Medical,London</span>
                                           </p>
                                           <p class="grnds"><i class="fa fa-calendar" aria-hidden="true">
                                              </i>04/06/2021
                                              <span class="spanes-1"><i class="fa fa-clock-o" aria-hidden="true"></i>2:30 PM
                                              </span>
                                           </p>
                                        </div>
                                     </div>
                                     <div class="card-footer">
                                        <button type="button" class="btn light btn-primary btn-one"><span><i class="fa fa-check" aria-hidden="true"></i></span>Confirm</button>
                                        <button type="button" class="btn light btn-primary btn-two"><span><i class="fa fa-times" aria-hidden="true"></i></span>Cancel</button>
                                     </div>
                                  </div>
                               </div>
                               <div class="col-md-6">
                                  <div class="card cards-3">
                                     <div class="media">
                                        <img class="mr-3 img-fluid " width="60" src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500" alt="" class="photo1">
                                        <div class="media-body">
                                           <h5 class="mt-0">Dr.Anthony wagner</h5>
                                           <p class="mb-0 parsa">Cras sit ame</p>
                                           <p class="grnds"><i class="fa fa-map-marker" aria-hidden="true"></i>Grand Medical Centre<br>
                                              <span class="spanes">Grand Medical,London</span>
                                           </p>
                                           <p class="grnds"><i class="fa fa-calendar" aria-hidden="true">
                                              </i>04/06/2021
                                              <span class="spanes-1"><i class="fa fa-clock-o" aria-hidden="true"></i>2:30 PM
                                              </span>
                                           </p>
                                        </div>
                                     </div>
                                     <div class="card-footer">
                                        <button type="button" class="btn light btn-primary btn-one"><span><i class="fa fa-check" aria-hidden="true"></i></span>Confirm</button>
                                        <button type="button" class="btn light btn-primary btn-two"><span><i class="fa fa-times" aria-hidden="true"></i></span>Cancel</button>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="carousel-item">
                            <div class="row">
                               <div class="col-md-6">
                                  <div class="card cards-3">
                                     <div class="media">
                                        <img class="mr-3 img-fluid " width="60" src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500" alt="" class="photo1">
                                        <div class="media-body">
                                           <h5 class="mt-0">Dr.Anthony wagner</h5>
                                           <p class="mb-0 parsa">Cras sit ame</p>
                                           <p class="grnds"><i class="fa fa-map-marker" aria-hidden="true"></i>Grand Medical Centre<br>
                                              <span class="spanes">Grand Medical,London</span>
                                           </p>
                                           <p class="grnds"><i class="fa fa-calendar" aria-hidden="true">
                                              </i>04/06/2021
                                              <span class="spanes-1"><i class="fa fa-clock-o" aria-hidden="true"></i>2:30 PM
                                              </span>
                                           </p>
                                        </div>
                                     </div>
                                     <div class="card-footer">
                                        <button type="button" class="btn light btn-primary btn-one"><span><i class="fa fa-check" aria-hidden="true"></i></span>Confirm</button>
                                        <button type="button" class="btn light btn-primary btn-two"><span><i class="fa fa-times" aria-hidden="true"></i></span>Cancel</button>
                                     </div>
                                  </div>
                               </div>
                               <div class="col-md-6">
                                  <div class="card cards-3">
                                     <div class="media">
                                        <img class="mr-3 img-fluid " width="60" src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500" alt="" class="photo1">
                                        <div class="media-body">
                                           <h5 class="mt-0">Dr.Anthony wagner</h5>
                                           <p class="mb-0 parsa">Cras sit ame</p>
                                           <p class="grnds"><i class="fa fa-map-marker" aria-hidden="true"></i>Grand Medical Centre<br>
                                              <span class="spanes">Grand Medical,London</span>
                                           </p>
                                           <p class="grnds"><i class="fa fa-calendar" aria-hidden="true">
                                              </i>04/06/2021
                                              <span class="spanes-1"><i class="fa fa-clock-o" aria-hidden="true"></i>2:30 PM
                                              </span>
                                           </p>
                                        </div>
                                     </div>
                                     <div class="card-footer">
                                        <button type="button" class="btn light btn-primary btn-one"><span><i class="fa fa-check" aria-hidden="true"></i></span>Confirm</button>
                                        <button type="button" class="btn light btn-primary btn-two"><span><i class="fa fa-times" aria-hidden="true"></i></span>Cancel</button>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="carousel-item">
                            <div class="row">
                               <div class="col-md-6">
                                  <div class="card cards-3">
                                     <div class="media">
                                        <img class="mr-3 img-fluid " width="60" src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500" alt="" class="photo1">
                                        <div class="media-body">
                                           <h5 class="mt-0">Dr.Anthony wagner</h5>
                                           <p class="mb-0 parsa">Cras sit ame</p>
                                           <p class="grnds"><i class="fa fa-map-marker" aria-hidden="true"></i>Grand Medical Centre<br>
                                              <span class="spanes">Grand Medical,London</span>
                                           </p>
                                           <p class="grnds"><i class="fa fa-calendar" aria-hidden="true">
                                              </i>04/06/2021
                                              <span class="spanes-1"><i class="fa fa-clock-o" aria-hidden="true"></i>2:30 PM
                                              </span>
                                           </p>
                                        </div>
                                     </div>
                                     <div class="card-footer">
                                        <button type="button" class="btn light btn-primary btn-one"><span><i class="fa fa-check" aria-hidden="true"></i></span>Confirm</button>
                                        <button type="button" class="btn light btn-primary btn-two"><span><i class="fa fa-times" aria-hidden="true"></i></span>Cancel</button>
                                     </div>
                                  </div>
                               </div>
                               <div class="col-md-6">
                                  <div class="card cards-3">
                                     <div class="media">
                                        <img class="mr-3 img-fluid " width="60" src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500" alt="" class="photo1">
                                        <div class="media-body">
                                           <h5 class="mt-0">Dr.Anthony wagner</h5>
                                           <p class="mb-0 parsa">Cras sit ame</p>
                                           <p class="grnds"><i class="fa fa-map-marker" aria-hidden="true"></i>Grand Medical Centre<br>
                                              <span class="spanes">Grand Medical,London</span>
                                           </p>
                                           <p class="grnds"><i class="fa fa-calendar" aria-hidden="true">
                                              </i>04/06/2021
                                              <span class="spanes-1"><i class="fa fa-clock-o" aria-hidden="true"></i>2:30 PM
                                              </span>
                                           </p>
                                        </div>
                                     </div>
                                     <div class="card-footer">
                                        <button type="button" class="btn light btn-primary btn-one"><span><i class="fa fa-check" aria-hidden="true"></i></span>Confirm</button>
                                        <button type="button" class="btn light btn-primary btn-two"><span><i class="fa fa-times" aria-hidden="true"></i></span>Cancel</button>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>