<div class="loader_div" *ngIf="isInserting">
	<span><img src="./assets/images/loading.gif"></span>
 </div>
<section class="fxt-template-animation fxt-template-layout19 loaded" >
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-7 col-12 hideform  fxt-bg-img">
            <div class="bg"></div>
            <div class="self3 pointer">
           <img src="./assets/images/logo_brand.svg" alt="">
           </div>
            <div class="fxt-header">
               <h4>WELCOME TO </h4>
               <span><h1>ENLYTMNT</h1></span>
               <p>EXPAND YOUR <span class="jue">REACH</span></p>
               <p>TO EVERY CHILD IN NEED!</p>
              <img src="" alt="">
            </div>
         </div>
         <div class="col-md-5 col-12 fxt-bg-color">
            <div class="card-body">
               <div class="logo_header">
                  <img src="./assets/images/logo.svg" alt="" *ngIf="!counsellorImage">
						<img src="http://65.2.9.193/assets/images/{{counsellorImage}}" *ngIf="counsellorImage" width="116px" alt="" onError="this.src='https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500'"/>

               </div>

               <ul class="nav nav-pills justify-content-center mb-4">
                   <li class="nav-item">
                       <a ghref="#navpills2-1" class="nav-link self_cus active" data-toggle="tab" aria-expanded="false" >Login As Counsellor</a>
                   </li>
                   <li class="nav-item">
                       <a  class="nav-link self_cus pointer" data-toggle="tab" aria-expanded="false" (click)="loginStudent()" >Login As Student</a>
                   </li>
               </ul>
               <div class="tab-content fxt-content">
                   <div id="navpills2-1" class="tab-pane active">
                     <div class="signup-form">
                        <form [formGroup]="LoginForm">
                           <!-- <p class="hint-text">Sign up with your social media account or email address</p> -->
                           <div class="form-group">
                              <input type="email" class="form-control input-lg"  placeholder="Email Address/Phone Number" formControlName="emailPhone" [ngClass]="{'is-invalid':submitted && f.emailPhone.errors}">
                              <svg _ngcontent-sif-c52="" id="icon-user1" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-primary"><path _ngcontent-sif-c52="" d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle _ngcontent-sif-c52="" cx="12" cy="7" r="4"></circle></svg>
                              <div *ngIf="submitted && f.emailPhone.errors" class="invalid-feedback">
                                 <div *ngIf="f.emailPhone.errors.required">
                                    Field is required
                                 </div>
                              </div>
                           </div>
                           <div class="form-group">
                              <input [type]="password" class="form-control input-lg" name="password" placeholder="Password" formControlName="password" [ngClass]="{'is-invalid':submitted && f.password.errors}">
                              <div class="pass">
                                 <i class="fa fa-unlock-alt"></i>
                              </div>
                            <span class="pswrd pointer" (click)="paswordClick()">  
                               <i class="fa fa-eye" aria-hidden="true" *ngIf="show"></i>
                              <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="!show"></i></span>
                              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                 <div *ngIf="f.password.errors.required">
                                    password is required
                                 </div>
                                 <!-- <div *ngIf="f.password.errors.minlength">
                                    Minimum 6 Digit is required
                                    </div> -->
                              </div>
                           </div>
                           <label class="forgot pointer" [routerLink]="['/forgot_password']">Forgot Password?</label>

                           <!-- <div class="custom-control custom-checkbox mb-3 checkbox-info ">
                              <input type="checkbox" class="custom-control-input pointer" id="customCheckBox1" required="" formControlName="chkbox" [ngClass]="{'is-invalid':submitted && f.chkbox.errors}">
                              <label class="custom-control-label" for="customCheckBox1">By clicking sign up you are agreeing to the <a href="" class="pointer nam_1"><span >terms of use</span></a> and <a href=""><span class="pointer">our privacy policy</span></a></label>
                              <div *ngIf="submitted && f.chkbox.errors" class="invalid-feedback"> Checkbox is required </div>
                           </div> -->
                        </form>
                        
                        <div class="custom text-center">
                           <button type="submit" class="btn btn-success btn-lg btn-block signup-btn" (click)="login()">Login</button>
                        </div>

                        <div class="text-center">
                           <p class="clickeds hur pointer" [routerLink]="['/register_as_mentor']">New on our platform? Register</p>
                        </div>
           
                        <div class="or-seperator"><b>or</b></div>
                        <div class="text-center">
                           <p class="clickeds ">With your Social Network</p>
                        </div>
                        <ul class="fxt-socials">
                           <li class="fxt-facebook fxt-transformY-50 fxt-transition-delay-5 "><a  (click)="signInWithGoogle()" title="Facebook" class="pointer"><i class=""> <img src="./assets/images/google.svg" alt=""></i></a></li>
                           <li class="fxt-twitter fxt-transformY-50 fxt-transition-delay-6 "><a (click)="signInWithFB()" title="twitter" class="pointer"><i class=""><img src="./assets/images/facebook.svg" alt=""></i> </a></li>
                           <li class="fxt-google fxt-transformY-50 fxt-transition-delay-7 "><a (click)="signInWithApple()"title="google" class="pointer"><i class=""><img src="./assets/images/apple.svg" alt=""></i></a></li>
                        </ul>
                        <!-- <div class="social-login">
                         
                           <a (click)="signInWithGoogle()"> -->
                              <!--<i class="fab fa-google-plus"></i>-->
                              <!-- <img src="./assets/images/googlesimg.png">
   
                           </a>
                           <a (click)="signInWithFB()">
                           <i class="fab fa-facebook-square" aria-hidden="true"></i>
                         
                           </a>
                        </div> -->
                        <!-- <div class="or-seperator1" (click)="signInWithApple()" ><span class="apple"><i class="fab fa-apple"></i>Apple Login </span></div> -->
                       
                       
                     </div>
                   </div>
                
               </div>
           </div>
         </div>
        
      </div>
     
   </div>
 <!-- registerdesignform one half -->
</section>
