<div class="loader_div" *ngIf="isInserting">
	<span><img src="./assets/images/loading.gif"></span>
 </div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-9">
			<div class="card welcome_text">
				<div class="row align-items-center card-body">
					<div class="col-md-8">
						<h1 style="font-family: 'Skytree';">Good Morning <span>Jitendra</span> 	</h1>
						<p>Your vision will become clear only when you can look into your own heart. Who looks outside, dreams; who looks inside, awakes.</p>
						<h5 class="mb-0">- Carl Jung</h5>
					</div>
					<div class="col-md-4 img_box">
						<img src="./assets/images/new-images/ak-new1.png"  class="" alt="">
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card lavel_card">
				<div class="card-body">
                    <img src="./assets/images/new-images/lavel.png"  class="" alt="">
				</div>
			</div>
		</div>
	</div>

	<div class="row">
        <div class="col-md-4">
            <div class="count_box card">
                <div class="card-body">
					<img src="./assets/images/new-images/icon1.png" class="icon_box">
					<span>Total</span> <h1>₹20765 
						</h1>
					<div class="row month_year">
						<div class="col-md-6">Month :  <span>₹200</span></div>
						<div class="col-md-6 text-right">This Year : <span>₹600</span></div>
					</div>
				</div>
				<h5>Amount earned</h5>
			</div>
		</div>
        <div class="col-md-4">
            <div class="count_box card">
                <div class="card-body">
					<img src="./assets/images/new-images/icon2.png" class="icon_box">
					<span>Total</span> <h1>3765 
						</h1>
					<div class="row month_year">
						<div class="col-md-6">Month :  <span>200</span></div>
						<div class="col-md-6 text-right">This Year : <span>600</span></div>
					</div>
				</div>
				<h5>Students guided</h5>
			</div>
		</div>
        <div class="col-md-4">
            <div class="count_box card">
                <div class="card-body">
					<img src="./assets/images/new-images/icon3.png" class="icon_box">
					<span>Total</span> <h1>487 
						</h1>
					<div class="row month_year">
						<div class="col-md-6">Month :  <span>200</span></div>
						<div class="col-md-6 text-right">This Year : <span>600</span></div>
					</div>
				</div>
				<h5>Counselling Done</h5>
			</div>
		</div>
	</div>

	<div class="row" style="margin-bottom: 1.875rem;">
		<div class="col-md-9">
			<div class="upcoming_appointments">
				<h2 class="tt">Upcoming Appointments <a href="javascript:void(0);" class="view_all_btn">View All</a></h2>
				<div class="appoint_table">
					<div class="appoint_table_thead">
						<div class="thead_appoint">Name <img src="./assets/images/new-images/arrow-table.png"></div>
						<div class="thead_appoint">Group Name <img src="./assets/images/new-images/arrow-table.png"></div>
						<div class="thead_appoint">Date <img src="./assets/images/new-images/arrow-table.png"></div>
						<div class="thead_appoint">Time <img src="./assets/images/new-images/arrow-table.png"></div>
						<div class="thead_appoint">Action <img src="./assets/images/new-images/arrow-table.png"></div>
					</div>
					<div class="appoint_table_tbody scroll">

						<div class="appoint_table_row">
							<div class="thead_appoint">
								<div class="profile_box_table">
									<img src="./assets/images/new-images/profile.jpeg">
									<div class="body">
										<h5>Jitendra</h5>
										<p>Service Name</p>	
									</div>
							    </div>
							</div>
							<div class="thead_appoint">Jitendra Group</div>
							<div class="thead_appoint">29/07/2021</div>
							<div class="thead_appoint">12.00 PM</div>
							<div class="thead_appoint"><a href="javascript:void(0);" class="btn btn-meeting">Meeting Link</a></div>
						</div>
						<div class="appoint_table_row">
							<div class="thead_appoint">
								<div class="profile_box_table">
									<img src="./assets/images/new-images/profile.jpeg">
									<div class="body">
										<h5>Jitendra</h5>
										<p>Service Name</p>	
									</div>
							    </div>
							</div>
							<div class="thead_appoint">Jitendra Group</div>
							<div class="thead_appoint">29/07/2021</div>
							<div class="thead_appoint">12.00 PM</div>
							<div class="thead_appoint"><a href="javascript:void(0);" class="btn btn-meeting">Meeting Link</a></div>
						</div>
						<div class="appoint_table_row">
							<div class="thead_appoint">
								<div class="profile_box_table">
									<img src="./assets/images/new-images/profile.jpeg">
									<div class="body">
										<h5>Jitendra</h5>
										<p>Service Name</p>	
									</div>
							    </div>
							</div>
							<div class="thead_appoint">Jitendra Group</div>
							<div class="thead_appoint">29/07/2021</div>
							<div class="thead_appoint">12.00 PM</div>
							<div class="thead_appoint"><a href="javascript:void(0);" class="btn btn-meeting">Meeting Link</a></div>
						</div>
						<div class="appoint_table_row">
							<div class="thead_appoint">
								<div class="profile_box_table">
									<img src="./assets/images/new-images/profile.jpeg">
									<div class="body">
										<h5>Jitendra</h5>
										<p>Service Name</p>	
									</div>
							    </div>
							</div>
							<div class="thead_appoint">Jitendra Group</div>
							<div class="thead_appoint">29/07/2021</div>
							<div class="thead_appoint">12.00 PM</div>
							<div class="thead_appoint"><a href="javascript:void(0);" class="btn btn-meeting">Meeting Link</a></div>
						</div>
						<div class="appoint_table_row">
							<div class="thead_appoint">
								<div class="profile_box_table">
									<img src="./assets/images/new-images/profile.jpeg">
									<div class="body">
										<h5>Jitendra</h5>
										<p>Service Name</p>	
									</div>
							    </div>
							</div>
							<div class="thead_appoint">Jitendra Group</div>
							<div class="thead_appoint">29/07/2021</div>
							<div class="thead_appoint">12.00 PM</div>
							<div class="thead_appoint"><a href="javascript:void(0);" class="btn btn-meeting">Meeting Link</a></div>
						</div>
						<div class="appoint_table_row">
							<div class="thead_appoint">
								<div class="profile_box_table">
									<img src="./assets/images/new-images/profile.jpeg">
									<div class="body">
										<h5>Jitendra</h5>
										<p>Service Name</p>	
									</div>
							    </div>
							</div>
							<div class="thead_appoint">Jitendra Group</div>
							<div class="thead_appoint">29/07/2021</div>
							<div class="thead_appoint">12.00 PM</div>
							<div class="thead_appoint"><a href="javascript:void(0);" class="btn btn-meeting">Meeting Link</a></div>
						</div>
						<div class="appoint_table_row">
							<div class="thead_appoint">
								<div class="profile_box_table">
									<img src="./assets/images/new-images/profile.jpeg">
									<div class="body">
										<h5>Jitendra</h5>
										<p>Service Name</p>	
									</div>
							    </div>
							</div>
							<div class="thead_appoint">Jitendra Group</div>
							<div class="thead_appoint">29/07/2021</div>
							<div class="thead_appoint">12.00 PM</div>
							<div class="thead_appoint"><a href="javascript:void(0);" class="btn btn-meeting">Meeting Link</a></div>
						</div>
						<div class="appoint_table_row">
							<div class="thead_appoint">
								<div class="profile_box_table">
									<img src="./assets/images/new-images/profile.jpeg">
									<div class="body">
										<h5>Jitendra</h5>
										<p>Service Name</p>	
									</div>
							    </div>
							</div>
							<div class="thead_appoint">Jitendra Group</div>
							<div class="thead_appoint">29/07/2021</div>
							<div class="thead_appoint">12.00 PM</div>
							<div class="thead_appoint"><a href="javascript:void(0);" class="btn btn-meeting">Meeting Link</a></div>
						</div>
						<div class="appoint_table_row">
							<div class="thead_appoint">
								<div class="profile_box_table">
									<img src="./assets/images/new-images/profile.jpeg">
									<div class="body">
										<h5>Jitendra</h5>
										<p>Service Name</p>	
									</div>
							    </div>
							</div>
							<div class="thead_appoint">Jitendra Group</div>
							<div class="thead_appoint">29/07/2021</div>
							<div class="thead_appoint">12.00 PM</div>
							<div class="thead_appoint"><a href="javascript:void(0);" class="btn btn-meeting">Meeting Link</a></div>
						</div>

					</div>
				</div>
			</div>
		</div>

		<div class="col-md-3">
            <div class="pending_taks">
			    <h2 class="tt">Pending Tasks</h2>
                <ul class="scroll">
					<li>
						<div class="profile_box_table">
							<img src="./assets/images/new-images/profile.jpeg">
							<div class="body">
								<h5>Archana K.</h5>
								<p>Tast Not Complete.</p>	
							</div>
							<a href="javascript:void(0);" class="next_arrow">
								<i class="fa fa-angle-right" aria-hidden="true"></i>
							</a>
						</div>
					</li>
					<li>
						<div class="profile_box_table">
							<img src="./assets/images/new-images/profile.jpeg">
							<div class="body">
								<h5>Archana K.</h5>
								<p>Tast Not Complete.</p>	
							</div>
							<a href="javascript:void(0);" class="next_arrow">
								<i class="fa fa-angle-right" aria-hidden="true"></i>
							</a>
						</div>
					</li>
					<li>
						<div class="profile_box_table">
							<img src="./assets/images/new-images/profile.jpeg">
							<div class="body">
								<h5>Archana K.</h5>
								<p>Tast Not Complete.</p>	
							</div>
							<a href="javascript:void(0);" class="next_arrow">
								<i class="fa fa-angle-right" aria-hidden="true"></i>
							</a>
						</div>
					</li>
					<li>
						<div class="profile_box_table">
							<img src="./assets/images/new-images/profile.jpeg">
							<div class="body">
								<h5>Archana K.</h5>
								<p>Tast Not Complete.</p>	
							</div>
							<a href="javascript:void(0);" class="next_arrow">
								<i class="fa fa-angle-right" aria-hidden="true"></i>
							</a>
						</div>
					</li>
					<li>
						<div class="profile_box_table">
							<img src="./assets/images/new-images/profile.jpeg">
							<div class="body">
								<h5>Archana K.</h5>
								<p>Tast Not Complete.</p>	
							</div>
							<a href="javascript:void(0);" class="next_arrow">
								<i class="fa fa-angle-right" aria-hidden="true"></i>
							</a>
						</div>
					</li>
					<li>
						<div class="profile_box_table">
							<img src="./assets/images/new-images/profile.jpeg">
							<div class="body">
								<h5>Archana K.</h5>
								<p>Tast Not Complete.</p>	
							</div>
							<a href="javascript:void(0);" class="next_arrow">
								<i class="fa fa-angle-right" aria-hidden="true"></i>
							</a>
						</div>
					</li>
					<li>
						<div class="profile_box_table">
							<img src="./assets/images/new-images/profile.jpeg">
							<div class="body">
								<h5>Archana K.</h5>
								<p>Tast Not Complete.</p>	
							</div>
							<a href="javascript:void(0);" class="next_arrow">
								<i class="fa fa-angle-right" aria-hidden="true"></i>
							</a>
						</div>
					</li>
					<li>
						<div class="profile_box_table">
							<img src="./assets/images/new-images/profile.jpeg">
							<div class="body">
								<h5>Archana K.</h5>
								<p>Tast Not Complete.</p>	
							</div>
							<a href="javascript:void(0);" class="next_arrow">
								<i class="fa fa-angle-right" aria-hidden="true"></i>
							</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
		<div class="card">
			<div class="card-header">
                <h2 class="card-title" style="width:100%;line-height: 34px;">Recent Feedbacks

                    <div class="recent_arrow">
						<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						  </a>
						  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
							<i class="fa fa-angle-right"></i>
						  </a>
					</div>
				</h2>   
			</div>
            <div class="card-body">
				<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner">
					  <div class="carousel-item active">
						 <div class="row">
							<div class="col-md-4">
								<div class="card card_feedback">
									<div class="feedback_tt">
										<img class=" " src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500" alt="" class="photo1">
										<div class="media-body">
											<h3>Jitendra Prajapat</h3>
											<p>
												Service Name   <span>|</span>   Group Name
											</p>
										</div>
									</div>
									<div class="positive">
										<h4>Positive</h4>
										<ul>
											<li>Friendliness</li>
											<li>Value for money</li>
											<li>Friendliness</li>
											<li>Value for money</li>
											<li>Friendliness</li>
										</ul>
									</div>
									<p class="pragraph">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
									<div class="row recommended_box align-items-center">
										<div class="col-md-12">
											<button type="button" class="btn recommended_btn"><span><i class="fa fa-star"></i></span>Recommended</button>
											<div class="pull-right text-right time_post">
												18 days ago
											</div>
										</div>
										
									</div>
								</div>
							</div> 
							
							<div class="col-md-4">
								<div class="card card_feedback">
									<div class="feedback_tt">
										<img class=" " src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500" alt="" class="photo1">
										<div class="media-body">
											<h3>Jitendra Prajapat</h3>
											<p>
												Service Name   <span>|</span>   Group Name
											</p>
										</div>
									</div>
									<div class="positive">
										<h4>Positive</h4>
										<ul>
											<li>Friendliness</li>
											<li>Value for money</li>
											<li>Friendliness</li>
											<li>Value for money</li>
											<li>Friendliness</li>
										</ul>
									</div>
									<p class="pragraph">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
									<div class="row recommended_box align-items-center">
										<div class="col-md-12">
											<button type="button" class="btn recommended_btn"><span><i class="fa fa-star"></i></span>Recommended</button>
											<div class="pull-right text-right time_post">
												18 days ago
											</div>
										</div>
										
									</div>
								</div>
							</div> 
							
							<div class="col-md-4">
								<div class="card card_feedback">
									<div class="feedback_tt">
										<img class=" " src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500" alt="" class="photo1">
										<div class="media-body">
											<h3>Jitendra Prajapat</h3>
											<p>
												Service Name   <span>|</span>   Group Name
											</p>
										</div>
									</div>
									<div class="positive">
										<h4>Positive</h4>
										<ul>
											<li>Friendliness</li>
											<li>Value for money</li>
											<li>Friendliness</li>
											<li>Value for money</li>
											<li>Friendliness</li>
										</ul>
									</div>
									<p class="pragraph">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
									<div class="row recommended_box align-items-center">
										<div class="col-md-12">
											<button type="button" class="btn recommended_btn"><span><i class="fa fa-star"></i></span>Recommended</button>
											<div class="pull-right text-right time_post">
												18 days ago
											</div>
										</div>
										
									</div>
								</div>
							</div> 
							 
						 </div>
					  </div>
					  
					  <div class="carousel-item">
						<div class="row">
						   <div class="col-md-4">
							   <div class="card card_feedback">
								   <div class="feedback_tt">
									   <img class=" " src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500" alt="" class="photo1">
									   <div class="media-body">
										   <h3>Jitendra Prajapat</h3>
										   <p>
											   Service Name   <span>|</span>   Group Name
										   </p>
									   </div>
								   </div>
								   <div class="positive">
									   <h4>Positive</h4>
									   <ul>
										   <li>Friendliness</li>
										   <li>Value for money</li>
										   <li>Friendliness</li>
										   <li>Value for money</li>
										   <li>Friendliness</li>
									   </ul>
								   </div>
								   <p class="pragraph">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
								   <div class="row recommended_box align-items-center">
									   <div class="col-md-12">
										   <button type="button" class="btn recommended_btn"><span><i class="fa fa-star"></i></span>Recommended</button>
										   <div class="pull-right text-right time_post">
											   18 days ago
										   </div>
									   </div>
									   
								   </div>
							   </div>
						   </div> 
						   
						   <div class="col-md-4">
							   <div class="card card_feedback">
								   <div class="feedback_tt">
									   <img class=" " src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500" alt="" class="photo1">
									   <div class="media-body">
										   <h3>Jitendra Prajapat</h3>
										   <p>
											   Service Name   <span>|</span>   Group Name
										   </p>
									   </div>
								   </div>
								   <div class="positive">
									   <h4>Positive</h4>
									   <ul>
										   <li>Friendliness</li>
										   <li>Value for money</li>
										   <li>Friendliness</li>
										   <li>Value for money</li>
										   <li>Friendliness</li>
									   </ul>
								   </div>
								   <p class="pragraph">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
								   <div class="row recommended_box align-items-center">
									   <div class="col-md-12">
										   <button type="button" class="btn recommended_btn"><span><i class="fa fa-star"></i></span>Recommended</button>
										   <div class="pull-right text-right time_post">
											   18 days ago
										   </div>
									   </div>
									   
								   </div>
							   </div>
						   </div> 
						   
						   <div class="col-md-4">
							   <div class="card card_feedback">
								   <div class="feedback_tt">
									   <img class=" " src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500" alt="" class="photo1">
									   <div class="media-body">
										   <h3>Jitendra Prajapat</h3>
										   <p>
											   Service Name   <span>|</span>   Group Name
										   </p>
									   </div>
								   </div>
								   <div class="positive">
									   <h4>Positive</h4>
									   <ul>
										   <li>Friendliness</li>
										   <li>Value for money</li>
										   <li>Friendliness</li>
										   <li>Value for money</li>
										   <li>Friendliness</li>
									   </ul>
								   </div>
								   <p class="pragraph">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
								   <div class="row recommended_box align-items-center">
									   <div class="col-md-12">
										   <button type="button" class="btn recommended_btn"><span><i class="fa fa-star"></i></span>Recommended</button>
										   <div class="pull-right text-right time_post">
											   18 days ago
										   </div>
									   </div>
									   
								   </div>
							   </div>
						   </div> 
							
						</div>
					 </div>
					</div>
					
				  </div>
			</div>
		</div>
		</div>
	</div>
</div>


<!-- popupdesignforafterlogin -->
    <!-- Large modal -->
    
	<div class="modal fade show bd-example-modal-lg modalbg" data-backdrop="false" id="DashPopup" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title Custitle">welcome to <b>Enlytmnt</b><br>
                        <span class="Cus_mod">simply dummynfd text of the printing and typesetting industry.</span></h5>
                    <button type="button" class="close" data-dismiss="modal" *ngIf="crossbtn"><span>&times;</span>
                    </button>
                </div>
                <div class="container-fluid">   
                    <div class="row">
                        <div class="col-md-12 p-3">
                            <div class="hapinb">
                                <h5>Get Started With Your Study  Journey</h5>
                                <img src="./assets/images/earn_coin.svg"  alt="">
                            </div>
                            <a  class="btn btn-primary bn_learn " (click)="closemodal()">Learn more<i class="las la-angle-right  scale5"></i></a>
							
                        </div>
                     
                    
                </div>
                    
            </div>
        </div>
	</div>
    </div> 
